<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Add proposition</title>
	<script type="text/javascript" src="libraries/core.js"></script>
	<script type="text/javascript" src="libraries/ajax.js"></script>
	<script type="text/javascript" src="libraries/toglibrary.js"></script>
	<script type="text/javascript" src="libraries/formdata2querystring.js"></script>
	<script type="text/javascript">
		var ActiveForm = {
			init: function() {
				var form = document.getElementById('newProposition');
				Core.addEventListener(form, "submit", ActiveForm.submitListener);
			},
			submitListener: function(event) {
				Core.preventDefault(event);
				var ajax = new Ajax();
				ajax.doGet('http://localhost/proveit/functions/ajax/addproposition.php?'+formData2QueryString(this), ActiveForm.handler,'xml');
			},
			handler: function(response) {
				tog.showMessages(response);
			}
		}; 
		
		Core.start(ActiveForm);
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link type="text/css" rel="stylesheet" media="all" href="../styles.css" />
</head>
<body>
	<div id="main">
		<h1>Add proposition</h1>
		
		<form id="newProposition" class="add">
		  <div>
		    <label for="proposition">Proposition:</label>
		    <input type="text" name="proposition" id="proposition"/>
		  </div>
		  <div>
		    <label for="negation">Negation (optional):</label>
		    <input type="text" name="negation" id="negation"/>
		  </div
		  <div>
		    <label for="contextp">Context proposition (optional):</label>
		    <input type="text" name="contextp" id="contextp"/>
		  </div>
		  <div>
		    <label for="contextpt">Context pre-text (optional):</label>
		    <input type="text" name="contextpt" id="contextpt"/>
		  </div>
		  <div>
		    <label for="definitional">Definitional?</label>
		    <input type="checkbox" name="definitional" id="definitional"/>
		  </div>
		  <div>
		    <label for="logical">Logical truth?</label>
		    <input type="checkbox" name="logical" id="logical"/>
		  </div>
		  <div>
		    <input type="submit" name="submit" id="submit" 
		        value="Add"/> 
		  </div>
		</form>
	</div>
</body>
</html>